<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>

<form action="{% url 'polls:detail' question.id %}" method="post">
{% csrf_token %}
  <input type="text" name="choice_text" />
  <input type="hidden" name="question_id" value="{{ question.id }}"/>
  <input type="submit" value="Add choice" />
</form>
